<div class="item">
  <b>Listing lines</b>
  <div class="menu">
    <% @lines.each do |line| %>
      <div class="item">
        <%= link_to line.title, line %>
      </div>
    <% end %>
  </div>
</div>
