<div class="item">
  <b>Listing lines</b>
  <div class="menu">
    <% @lines.each do |line| %>
      <div class="item">
        <%= link_to line.title, line %>
        <div class="ui mini icon buttons">
          <div class="ui invertet basic button">
            <%= link_to edit_line_path(line) do %><i class="pencil icon"></i><% end %>
          </div>
          <div class="ui invertet basic button">
            <%= link_to line, method: :delete, data: { confirm: 'Are you sure?' } do %><i class="red delete icon"></i><% end %>
          </div>
      </div>
      </div>
    <% end %>
    <%= link_to 'New Line', new_line_path, class: "item"%>
  </div>
</div>
