<div class="item">
  <b><%= @line.title %></b>
  <p id="notice"><%= notice %></p>

  <div class="menu">
    <% @line.ship.each do |ship| %>
      <%= link_to ship.title, ship, class: "item" %>
    <% end %>
  </div>
</div>
<div class="menu">
  <%= link_to lines_path, class: "item" do %>Back <i class="left icon"></i><% end %>
</div>
