<div class="item">
  <b>Resourcen</b>
  <div class="menu">
    <%= link_to 'Ports', ports_path, class: "item" %>
    <%= link_to 'Lines', lines_path, class: "item" %>
    <%= link_to 'Ships', ships_path, class: "item" %>
  </div>
</div>
