<div class="item">
  <a href="/">Users</b>
  <div class="menu">
    <%= link_to 'Sign in', sign_in_path, class: "item"  %>
    <%= link_to 'Sign out', sign_out_path, class: "item" %>
    <%= link_to 'Sign up', sign_up_path, class: "item" %>
  </div>
</div>
