<div class="item">
  <b>Editing ship</b>
    
  <%= render 'form' %>

  <div class="menu">
    <%= link_to @ship, class: "item" do %>Show <i class="unhide icon"></i><% end %>
    <%= link_to ship_path, class: "item" do %>Back <i class="left icon"></i><% end %>
  </div>

</div>
