// Place all the styles related to the Cruises controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul.itinerary {

  text-align: left;
  list-style-type: none;
  padding: 0;

  li.port {
    font-size: 2em;

    i.icon {
      font-size: 0.75em;
    }
  }

  .time {
    margin-left: 10px;
  }
  
  .arrive {
    margin-top: 10px;
  }
  .leave {
    margin-bottom: 10px;
  }

}
